* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body    {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.social_card_container {
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    width: 100%;
    padding: 24px;
    border-radius: 10px;
}

.social_Pfp_Img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 1.25rem;
}

.social_card_container h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.social_User_SubHeading {
    color: hsl(75, 94%, 57%);
    display: block;
    font-size: 1rem;
    margin: .5rem 0 1rem;
    text-align: center; 
}
.social_card_container p {
    color: #fff;
    text-align: center;
}

.social_Link_Container {
    display: grid;
    gap: .5rem;
    margin-top: 1.5rem;
}

.social_Link {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    padding: 1rem;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    border: none;
    border-radius: .5rem;
    outline: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.social_Link:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}